#head1{
  text-decoration: underline;
  font-size:42px;
  color:#573BD4;
  text-align: center;
}

#head2{
 text-align: center;
 font-size:20px;
 color:#A793FF;
}
#grad{
    background: linear-gradient(to bottom right, #A7DEFF, #A798FF);
}