#head1{
  text-decoration: underline;
  font-size:42px;
  color:#573BD4;
  text-align: center;
}


#grad{
    background: linear-gradient(to bottom right, #A7DEFF, #A798FF);
}

body{
  border: 3px solid black;
}